body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #F9F9F9;
}

main {
	flex: 1 0 auto;
}

nav {
	background: #AA0000;
}
.slider .btn {
	margin-top: 250px;
	background: #AA0000;
}
footer {
	margin-top: 130px;
}
.page-footer {
	background: #131313;
}